.main-content-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-content-component-article, .main-content-body {
    padding: 20px;
}

.main-content-component-article {
    font-size: 40px;
}
